<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PiPlex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PiPlex.Properties.Settings>
            <setting name="PlexMovieFolderPath" serializeAs="String">
                <value>C:\Users\pierr_000\Videos\Movies</value>
            </setting>
            <setting name="PlexTvShowFolderPath" serializeAs="String">
                <value>C:\Users\pierr_000\Videos\TV Shows</value>
            </setting>
            <setting name="PlexMediaScannerPath" serializeAs="String">
                <value>C:\Program Files (x86)\Plex\Plex Media Server\Plex Media Scanner.exe</value>
            </setting>
            <setting name="DonwloadFolderPath" serializeAs="String">
                <value>C:\Users\pierr_000\Downloads</value>
            </setting>
            <setting name="PlexMediaManagerUrl" serializeAs="String">
                <value>http://127.0.0.1:32400/web/</value>
            </setting>
            <setting name="PlexMediaServerPath" serializeAs="String">
                <value>C:\Program Files (x86)\Plex\Plex Media Server\Plex Media Server.exe</value>
            </setting>
        </PiPlex.Properties.Settings>
    </userSettings>
</configuration>